* {
  box-sizing: border-box;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "@Microsoft YaHei light", sans-serif;
}

.container {
  background-color: #fafafa;
  border-radius: 20px;
  border: 1px solid #d7d8e2;
  box-shadow: 0 8px 60px -8px #d7d8e2;
  width: 350px;
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: #f7f7f7;
  border-bottom: 2px solid #f0f0f0;
  padding: 20px;
}
.header h3 {
  margin: 0;
}
.form {
  padding: 30px 20px;
}

.form-control {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 20px; /* to fit small tag */
}

.form-control label {
  display: block;
  margin-top: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 8px;
  display: block;
  font-size: 14px;
  font-family: inherit;
  width: 100%;
  padding: 10px;
  transition: 0.3s ease;
}
.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}
.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form-control.error small {
  color: #e74c3c;
  visibility: visible;
}

.form button {
  background-color: #121212;
  border: none;
  border-radius: 8px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s;
}
.form button:hover {
  background-color: #2a2a2a;
}
.form button:active {
  background-color: #121212;
}
