* {
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "@Microsoft YaHei light";
}

.container {
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0 4px 100px -10px grey;
  width: 400px;
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
}
.header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}

.form-control {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.form-control label {
  display: inline-block;
  margin-top: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-family: inherit;
  width: 100%;
  padding: 10px;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form button {
  background-color: #000;
  border: 2px solid #000;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s;
}
.form button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
